<footer class="footer site-footer">
  <div class="footer-content">
    <div class="footer-name">
      <span class="footer-heading">{{ site.title | escape }}</span>

      <ul class="contact-list">
        <li class="p-name">
          {%- if site.author_name -%}
            &copy; {{'now' | date: '%Y'}} {{site.author_name}}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
        </li>
      </ul>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>
  </div>
</footer>
