<ul class="social-media-list">
  {%- if site.github_username -%}
  <li>
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
      <span class="fab fa-github"></span>
      <span class="username">{{ site.github_username| escape }}</span>
    </a>
  </li>
  {%- endif -%}

  {%- if site.twitter_username -%}
  <li>
    <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <span class="fab fa-twitter"></span>
      <span class="username">{{ site.twitter_username| escape }}</span>
    </a>
  </li>
  {%- endif -%}

  {%- if site.youtube_username -%}
  <li>
    <a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}">
      <class class="fab fa-youtube"></class>
      <span class="username">{{ site.youtube_username| escape }}</span>
    </a>
  </li>
  {%- endif -%}

  {%- if site.rss -%}
  <li>
    <a href="{{ 'feed.xml' | relative_url }}">
      <span>{{ site.rss | escape }}</span>
    </a>
  </li>
  {%- endif -%}

  {%- if site.discord_server_id -%}
  <li>
    <a href="https://discord.gg/{{ site.discord_server_id | cgi_escape | escape }}">
      <span class="fab fa-discord"></span>
      <span class="username">{{ site.discord_server_name | escape }}</span>
    </a>
  </li>
  {%- endif -%}

  {%- if site.twitch_username -%}
  <li>
    <a href="https://twitch.tv/{{ site.twitch_username | cgi_escape | escape }}">
      <span class="fab fa-twitch"></span>
      <span class="username">{{ site.twitch_username | escape }}</span>
    </a>
  </li>
  {%- endif -%}
</ul>
