body {
    color: #111;
    font-family: 
        -apple-system, 
        BlinkMacSystemFont, 
        "Segoe UI", 
        Roboto, 
        Helvetica, 
        Arial, 
        sans-serif, 
        "Apple Color Emoji", 
        "Segoe UI Emoji", 
        "Segoe UI Symbol";
}

p {
    margin-bottom: 15px;
}

h1 {
    font-size: 27px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eaecea;
}

h2 {
    font-size: 27px;
    margin-bottom: 15px;
}

h3 {
    font-size: 24px;
}

.post-header {
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
}

.page-content {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 78vh; /* magic */
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-size: 26px;
    margin-right: 70px;
}

.site-header {
    background-color:  #373b3e;
    color: #ffffff;
} 
.site-footer {
    background-color:  #eaecea;
}

.footer {
    color: #424242;
    padding: 30px;
}

.footer-heading {
    color: #111;
    font-size: 18px;
}

.post-list {
    list-style: none;
    padding: 0;
}
.post-list > li {
    margin-bottom: 30px;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.social-media-list .fab {
    color: #828282;
    padding-right: 3px;
    font-size: 18px;
}

.contact-list {
    padding: 0;
    list-style-type: none;
    color: #828282;
}

.social-media-list {
    padding: 0;
    list-style-type: none;
}

a {
    color: #2a7ae2;
}
a:hover{
    color: #111;
}

.fa-bars {
    color: #ffffff;
}
.navbar a:link {
    color: #ffffff;
    text-decoration: none;
}
.navbar a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.navbar a:visited {
    color: #ffffff;
    text-decoration: none;
}
.navbar a:active {
    color: #ffffff;
    text-decoration: underline;
}
