.quiz-question {
    border: solid 1px black;
}

.quiz-question-answers {
    list-style: none;
    background-color: blanchedalmond;
}

.quiz-question-answers li:hover {
    background-color: cadetblue;
}